@model MedManager.Models.MedTakeModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="display-4">Usuń lek</h1>

<h3>Czy na pewno chcesz usunąć ten lek?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dose)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hour)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Index">Wróć do listy leków</a>
    </form>
</div>
